* {
    font-family: Helvetica, Arial, sans-serif;
}

.app {
    display: grid;
}

.size-form {
    grid-row: 1;
    grid-column: 1;
}

.silhouette {
    height: 100vh;
    grid-row: 1;
    grid-column: 2;
}